html,
body {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75) !important;
  /* background-image: url("../pic/pi.jpg"); */
}

body > #root > div {
  height: 100vh;
}

.have {
  background-image: url("../pic/pi.jpg");
}
